POSTGRES_DB=nba_pipeline
POSTGRES_USER=nba_user
POSTGRES_PASSWORD=replace_with_a_long_random_password
NBA_SEASON=2025-26
NBA_API_TIMEOUT=90
NBA_API_RETRIES=3
INGEST_API_KEY=replace_with_a_long_random_ingestion_key
APP_PUBLIC_BASE_URL=http://YOUR_STATIC_IP_OR_DOMAIN
ALLOWED_HOSTS=localhost,127.0.0.1,::1,YOUR_STATIC_IP_OR_DOMAIN
ENABLE_DOCS=true
